
SwiftUI-GeometryReader/SwiftUI-GeometryReader.xcodeproj/project.xcworkspace/xcuserdata/priyatalreja.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI-GeometryReader/SwiftUI-GeometryReader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
